body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.1;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3,
h2 {
  margin-top: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.site-nav {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  text-decoration: none;
}

.logo__label-black {
  color: #212121;
  margin: bottom 20px;
  font-style: inherit;
}

.site-nav__current-link {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
}
.site-nav__current-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
  padding-left: 0px;
}

.site-nav {
  padding-right: 0px;
  margin-right: 0px;
}

.header__list {
  display: flex;
  margin-left: auto;
  padding-left: 0px;
}

.site-nav__item {
  margin-right: 40px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link,
.site-nav__current-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0px;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0px;
}

.hero-section {
  padding-top: 200px;
  height: 600px;
  min-width: 1600px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  width: 216px;
}

.description-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 0px;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.description__list {
  display: flex;
  margin-bottom: 92px;
  padding-left: 0px;
  align-items: flex-start;
}

.description__item {
  display: block;
  width: 270px;
  margin-right: 30px;
  min-width: 270px;
}
.description__item:nth-child(4n) {
  margin-right: 0px;
}

.description__icons {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 0px;
}

.description__icon {
  fill: currentColor;
}

.description__text {
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: #757575;
  margin-top: 0;
  margin-bottom: 50;
}

.description__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10;
}

.service-section {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 92px;
  margin-top: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0px;
}

.service__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.service__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
.service__list:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.service__list:nth-last-child(-n+3):nth-child(1) {
  margin-left: 0px;
}

.service__list:nth-child(1) {
  margin-left: 0px;
}

.service__item {
  width: 370px;
  margin-right: 30px;
}
.service__item:last-child {
  margin-right: 0px;
}

.service__image {
  display: block;
}

.service__image-overlay {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  height: 70px;
  transform: translateY(-100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__image-text {
  text-transform: uppercase;
}

.team-section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  min-width: 1600px;
  text-align: center;
}

.team-member__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0px;
  padding-left: 0px;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.team-member__card {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-member__card:last-child {
  margin-right: 0px;
}

.team-member__image {
  width: 270px;
}

.team-member__social-media {
  width: 260px;
  height: 44px;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
  display: flex;
  color: #ffffff;
  align-items: center;
}

.team-member__social-media-links {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member__social-media-links:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.team-member__description {
  width: 270px;
  align-items: center;
  padding-top: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team-member__proffesion {
  color: #757575;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 0;
  text-align: center;
  margin-bottom: 16px;
}

.clients-section {
  padding-bottom: 94px;
  margin-top: 0px;
}

.clients__list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

.clients__logo-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}
.clients__logo-list:last-child {
  margin-right: 0px;
}

.clients__title {
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
  padding-top: 94px;
}

.clients__logo-link {
  display: flex;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo-link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__logo-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 1600px;
}

.footer-content {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo__footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__join-title {
  color: #ffffff;
  text-transform: uppercase;
  width: 116px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__social-media {
  margin-right: 93px;
}

.footer__social-media-list {
  display: flex;
  width: 118px;
  height: 44px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 93px;
}

.footer__social-media-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-media-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer__social-media-item {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.footer__social-media-item:last-child {
  margin-right: 0px;
}

.footer__item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
}

.footer__social-media-icons {
  fill: #ffffff;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
.footer__link:last-child {
  margin-bottom: 0px;
}

.address {
  font-style: inherit;
  color: #ffffff;
  padding-left: 0px;
}

.adress {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.logo__footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__label-white {
  color: #ffffff;
}

.subcribe__form {
  text-align: left;
  display: block;
}

.subsribe__title {
  display: block;
  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.subsribe__input {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  transition: outline-color #2196f3;
}

.subsribe__input:focus-visible {
  outline-color: #2196f3;
  border: #2f303a;
}

.subscribe__button {
  padding-left: 16px;
  display: flex;
  justify-content: center;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  height: 50px;
  margin-bottom: 0px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:focus-visible {
  outline-color: var(--accent-color);
  border: var(--secondary-background-color);
}
.subscribe__button:hover {
  background-color: #188ce8;
}

.subscribe__section {
  display: flex;
}

.subsribe__svg {
  margin-left: 10px;
}

.footer__list {
  margin-right: 70px;
  padding-left: 0px;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal {
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-top: 40px;
  margin-bottom: 0px;
}

.modal__title {
  text-align: center;
  display: inline-block;
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: #212121;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.form__label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  padding-left: 36px;
  padding-bottom: 0px;
  max-width: 448px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #757575;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__area {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment__area:-moz-placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__area:placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment .comment__area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-comment .comment__area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-comment .comment__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment__area {
  resize: none;
}

.policy-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field__icons {
  margin-right: 15px;
  position: absolute;
  top: 65%;
  left: 15px;
  color: #212121;
  display: inline-block;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox [type=checkbox] {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.checkbox__icon--checked {
  border-radius: 1px;
  display: inline-block;
  fill: #ffffff;
  background-color: #2196f3;
}

.checkbox__icon--unchecked {
  border-radius: 1px;
  display: inline-block;
  fill: #212121;
}

.checkbox__field {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 0px;
  padding-left: 0px;
}

.checkbox__label {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.requirements {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #2196f3;
  text-decoration: underline;
}

.form-field .form__input:focus + .field__icons {
  fill: #2196f3;
}

.form-field .form__input:focus-visible {
  outline-color: #2196f3;
}

.form-comment .comment__area:focus-visible {
  outline-color: #2196f3;
}

.button__close {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  content: "";
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__close:hover {
  fill: #2196f3;
}

.subcribe__form {
  text-align: left;
  display: block;
}

.subsribe__title {
  display: block;
  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.button__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 713px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__submit:hover {
  background-color: #188ce8;
}

.checkbox:checked + .checkbox__icon--unchecked {
  display: none;
}
.checkbox:checked ~ .checkbox__icon--checked {
  display: inline-block;
}
.checkbox + .checkbox__icon--unchecked {
  display: inline-block;
}
.checkbox ~ .checkbox__icon--checked {
  display: none;
}

.product-list {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 92px;
  margin-top: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0px;
}

.product__title {
  font-size: 18px;
  font-weight: 700px;
  line-height: 2;
  color: #212121;
}

.portfolio-pages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 575px;
  padding-left: 0px;
  padding-bottom: 50px;
  padding-top: 94px;
}

.page__link {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page__link:hover, .page__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 4;
}

.product__meta {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.product__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__item:nth-child(3n) {
  margin-right: 0px;
}
.product__item:nth-child(3n):nth-child(-n-3) {
  margin-bottom: 0px;
}

.product__article {
  display: block;
  width: 370px;
  position: relative;
  overflow: hidden;
  content: "";
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__article:hover {
  transform: translateY(0);
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .product__overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.product__meta {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.product__image {
  display: block;
}/*# sourceMappingURL=main.css.map */