.service-section {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 92px;
  margin-top: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0px;
}
// .service-section .image-item:nth-last-child(-n + 3) {
//   margin-bottom: 0;

.service__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.service__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;

    &:nth-child(1) {
      margin-left: 0px;
    }
  }
}
.service__list:nth-child(1) {
  margin-left: 0px;
}

.service__item {
  width: 370px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}
.service__image {
  display: block;
}

.service__image-overlay {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  height: 70px;
  transform: translateY(-100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $primary-white-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__image-text {
  text-transform: uppercase;
}
